.header{
  display: flex;
  align-items: center;
  padding: 0 1em;
  background-color: #bae8e8;
  color: #272343;
}
.siteTitle{
  width: 100%;
  font-family: "Nico Moji";
  font-size: 2em;
  text-align: left;
}
