.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  margin-top: 0;
  font-size: 1.75rem;
  line-height: 1.1;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.headingPg{
  margin: .5rem 0 0;
  text-align: center;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: .5em 0 0 0;
}

.listItem {
  margin: 0 0 1.25rem;
  a{
    font-size: 1em;
  }
}

.lightText {
  color: #999;
}

.dateText{
  margin: 0;
}

.dateText:first-child{
  margin-top: 1rem;
}
